/* Body styling */
body {
  background-color: #E6E6FA;  /* Light Purple Background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  text-align: center; /*text centered*/
}

/* Header styling */
h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

/* Level text styling (added) */
#levelText {
  font-size: 40px;  /* Larger font size for the level */
  font-weight: bold; /* Makes the text bold */
  color: blue;  /* Set the color to something visible */
  margin-top: 20px;  /* Adds space between level text and other elements */
}

/* Button styling */
button {
  padding: 20px 40px;
  font-size: 24px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #4CAF50; /*green bg*/
  color: black; /*set text to black*/
  transition: all 0.3s ease;
  min-width: 200px;
  min-height: 60px;
}

/* Video container styling */
#videoContainer {
  text-align: center;
  display: none; /* Initially hidden */
  margin-top: 20px;
}

/* Player styling */
#player {
  margin-top: 20px;
}

/* End screen styling */
#endScreen {
  text-align: center;
  display: none; /* Initially hidden */
}
